In [1]:
import pandas as pd
import numpy as np

In [3]:
brands = pd.read_json('./brands.json', lines=True)

In [7]:
brands.describe(include='all')
# brands.describe()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
count,1167,1.167000e+03,1012,517,1167,1167,555.000000,933
unique,1167,NaN,23,14,204,1156,NaN,897
top,{'$oid': '601ac115be37ce2ead437551'},NaN,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Huggies,NaN,
freq,1,NaN,369,359,98,2,NaN,35
mean,NaN,5.111115e+11,NaN,NaN,NaN,NaN,0.055856,NaN
std,NaN,2.874497e+05,NaN,NaN,NaN,NaN,0.229850,NaN
min,NaN,5.111110e+11,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,5.111112e+11,NaN,NaN,NaN,NaN,0.000000,NaN
50%,NaN,5.111114e+11,NaN,NaN,NaN,NaN,0.000000,NaN
75%,NaN,5.111117e+11,NaN,NaN,NaN,NaN,0.000000,NaN
max,NaN,5.111119e+11,NaN,NaN,NaN,NaN,1.000000,NaN

`id` is all unique, which is good.

In [15]:
pd.crosstab(brands.category, brands.categoryCode, dropna=False)

categoryCode,BABY,BAKING,BEER_WINE_SPIRITS,BEVERAGES,BREAD_AND_BAKERY,CANDY_AND_SWEETS,CLEANING_AND_HOME_IMPROVEMENT,DAIRY_AND_REFRIGERATED,FROZEN,GROCERY,HEALTHY_AND_WELLNESS,MAGAZINES,OUTDOOR,PERSONAL_CARE
category,,,,,,,,,,,,,,
Baby,7,0,0,0,0,0,0,0,0,0,0,0,0,0
Baking,0,359,0,0,0,0,0,0,0,0,0,0,0,0
Beer Wine Spirits,0,0,31,0,0,0,0,0,0,0,0,0,0,0
Beverages,0,0,0,1,0,0,0,0,0,0,0,0,0,0
Bread & Bakery,0,0,0,0,5,0,0,0,0,0,0,0,0,0
Candy & Sweets,0,0,0,0,0,71,0,0,0,0,0,0,0,0
Cleaning & Home Improvement,0,0,0,0,0,0,6,0,0,0,0,0,0,0
Dairy & Refrigerated,0,0,0,0,0,0,0,5,0,0,0,0,0,0
Frozen,0,0,0,0,0,0,0,0,1,0,0,0,0,0
Grocery,0,0,0,0,0,0,0,0,0,11,0,0,0,0
Health & Wellness,0,0,0,0,0,0,0,0,0,0,14,0,0,0
Magazines,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Outdoor,0,0,0,0,0,0,0,0,0,0,0,0,1,0
Personal Care,0,0,0,0,0,0,0,0,0,0,0,0,0,4

There seems to be a misalignment with the `category` column and the `categoryCode` column. While the alignment for 14 categories is correct, as indicated by the diagonal matrix above, there are still 9 categories in the `category` column that are unaccounted for.

In [20]:
brands.topBrand.isna().sum()

612

There seems to be an issue with the `topBrand` column. There are 612 NA values in a True/False column. We would need to decide if imputation is a viable option. Otherwise, we need to sort that out in the data processing step.

In [25]:
brands.groupby(['brandCode']).count()

                    _id  barcode  category  categoryCode  cpg  name  topBrand
brandCode
                     35       35        35             0   35    35        32
 MILANO               1        1         1             0    1     1         1
 SOBE                 1        1         1             0    1     1         0
 TAZO BOTTLED TEAS    1        1         1             0    1     1         0
09090909090           1        1         1             0    1     1         1
...                 ...      ...       ...           ...  ...   ...       ...
YOPLAIT GO-GURT       1        1         1             0    1     1         0
YQ YOPLAIT            1        1         1             0    1     1         0
YUBAN                 1        1         1             0    1     1         1
ZIMA                  1        1         1             0    1     1         0
ZUMBIDA               1        1         1             0    1     1         0

[897 rows x 7 columns]

In [28]:
brands[brands.brandCode == ''].head(10)

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
124,{'$oid': '57ebc11fe4b0ac389136a33a'},511111802075,Baking,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Kraft Caramels,0.0,
153,{'$oid': '58861c7d4e8d0d20bc42c4d6'},511111601449,Snacks,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Jell-O Refrigerated Pudding & Gelatin,0.0,
163,{'$oid': '57ebc2ace4b0ac389136a346'},511111801962,Deli,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",P3,0.0,
188,{'$oid': '58b59989e4b0857c2ddb7255'},511111400998,Beer Wine Spirits,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f709e4b0...",Redd's Wicked,0.0,
234,{'$oid': '58b5988ce4b0857c2ddb7252'},511111301028,Beer Wine Spirits,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f709e4b0...",Henry's Hard Sparkling,0.0,
236,{'$oid': '57ebc125e4b0ac389136a33b'},511111302063,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Kraft Macaroni & Cheese,0.0,
278,{'$oid': '585a967fe4b03e62d1ce0e80'},511111801689,Snacks,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5fbe4b0...",Lay's Kettle Cooked,1.0,
288,{'$oid': '585a96d2e4b03e62d1ce0e89'},511111001607,Beverages,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5fbe4b0...",Pepsi Diet,0.0,
297,{'$oid': '580e015be4b0f32b2de21385'},511111501824,Condiments & Sauces,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Kraft BBQ Sauce,0.0,
302,{'$oid': '588b9ff4e4b02187f85cdadb'},511111901099,Condiments & Sauces,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Kraft Salad Dressing,0.0,

There also seems to be an issue with the `brandCode` column. There is a blank value that is being registered for 35 products, some of which do have associated brand codes.