In [1]:
import pandas as pd
import numpy as np

In [2]:
users = pd.read_json('./users.json', lines=True)

In [3]:
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [4]:
users.describe(include='all')

,_id,active,createdDate,lastLogin,role,signUpSource,state
count,495,495,495,433,495,447,439
unique,212,2,212,172,2,2,8
top,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},consumer,Email,WI
freq,20,494,20,20,413,443,396

The first thing to note is the `_id` field is not entirely unique, which will need to get looked into.

In [6]:
users.signUpSource.unique()

array(['Email', 'Google', nan], dtype=object)

In [7]:
users.state.unique()

array(['WI', 'KY', 'AL', 'CO', 'IL', nan, 'OH', 'SC', 'NH'], dtype=object)

In [8]:
users.role.unique()

array(['consumer', 'fetch-staff'], dtype=object)

In [9]:
users[users.role == 'fetch-staff']

,_id,active,createdDate,lastLogin,role,signUpSource,state
395,{'$oid': '59c124bae4b0299e55b0f330'},True,{'$date': 1505830074302},{'$date': 1612802578117},fetch-staff,NaN,WI
396,{'$oid': '59c124bae4b0299e55b0f330'},True,{'$date': 1505830074302},{'$date': 1612802578117},fetch-staff,NaN,WI
397,{'$oid': '59c124bae4b0299e55b0f330'},True,{'$date': 1505830074302},{'$date': 1612802578117},fetch-staff,NaN,WI
398,{'$oid': '59c124bae4b0299e55b0f330'},True,{'$date': 1505830074302},{'$date': 1612802578117},fetch-staff,NaN,WI
399,{'$oid': '59c124bae4b0299e55b0f330'},True,{'$date': 1505830074302},{'$date': 1612802578117},fetch-staff,NaN,WI
...,...,...,...,...,...,...,...
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

Other than the `_id` column, we would just have to be careful to filter on `role` to only get consumers and not Fetch staff.